body {
    background-color: #EAEBED;
}

#tevas {
    display: inline-block;
    width: 600px;
    margin-top: 130px;
    margin-left: 500px;
    background-color: yellow;
}

#kaire {
    display: inline-block;
    background-color: pink;
    width: 50%;
    float: left;
}

#desine {
    display: inline-block;
    background-color: green;
    width: 50%;
    float: left;
    text-align: center;
}

h1 {
    display: inline-block;
    width: 100%;
    font-size: 60px;
    margin: 0;
    margin-bottom: 10px;
}

p {
    display: inline-block;
    width: 100%;
    font-size: 20px;
    margin: 0;
    margin-bottom: 25px;
}

a {
    display: inline-block;
    background-color: #696F89;
    padding: 10px;
    color: white;
}
#antras {
    font-size: 14px;
    margin-bottom: 15px;
}